{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% for post in posts %}
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.description}}</p>
            </div>
          </div>
        {% endfor %}
    </div>
    {% comment %} This thing (posts) is a list of object {% endcomment %}




    {% comment %} {% this one is for some sort of code %} {% endcomment %}
    {% comment %} {{this is for variables}} {% endcomment %}
{% endblock content %}